@model cesmvc.Models.QuestionnaireResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionnaireResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C2_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_1_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_1_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_1_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_1_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_1_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_1_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_1_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_1_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_2_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_2_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_2_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_2_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_2_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_2_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_2_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_2_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C7_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C7_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C7_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C7_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C7_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C7_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation1.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation1.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
